.InputPhonebookForm {
  max-width: 300px;

  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
  outline: 1px solid black;
}
.label {
  display: block;
  margin-right: 10px;
}

input {
  margin-bottom: 10px;
}

button {
}
